@import 'bootstrap/scss/bootstrap';
$o-grid-is-silent: false;
@import 'o-grid/main';
$o-techdocs-is-silent: false;
@import 'o-techdocs/main';

@import './components/tag-autocomplete/tag-autocomplete';

.body {
	margin-top: 20px;
}
